{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
        "useBuiltIns": "entry",
      }
    ],
  ],
  "plugins": [
    [
      "transform-runtime",
      "dynamic-import-node",
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ],
}